.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    font-family: "Comic Sans MS";
    color: cornflowerblue;
}

#firstLetter, #thirdLetter, #fifthLetter{
    color: violet;
}

#secondLetter, #fourthLetter {
    color: blueviolet;
}
