.newToDoItem{
    display: flex;
    justify-content: space-between;
}

input{
    width: 80%;
    border: none;
}

.addButton {
    width: 25%;
    font-size: 30px;
    cursor: pointer;
    color: black;
    background: none;
    border: none;
    text-transform: uppercase;
    position: relative;
}

.addButton:disabled{
    background: #CCC;
    color: #999;
}

