.new-todo-item {
  display: flex;
  justify-content: space-between;
}

input {
  width: 80%;
  border: none;
}

.taskDateContainer {
  width: 1100px;
  position: relative;
  display: flex;
}

.add-button {
  width: 25%;
  font-size: 30px;
  cursor: pointer;
  color: black;
  background: none;
  border: none;
  text-transform: uppercase;
  position: relative;
}
.add-button:disabled {
  background-color: #cccccc;
  color: #666666;
}
