* {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
}
button {
  border: none;
  outline: none;
  cursor: pointer;
}

#mainContainer {
  width: 50%;
  background: #e5f31847;
  height: 50%;
  margin: 0 auto;
}
